#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:5px;
  text-align:center;
  background:black repeat-x;
  padding-bottom:50px;
  
}
body {
        background: red url(http://img01.deviantart.net/8467/i/2014/212/8/8/rusty_background_for_professional_by_theartist100-d7t6ilu.jpg) no-repeat fixed center center;
        padding: 0;
        border: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        color: 	#3ACFC4;
        text-align:center;
        font-family: 'Indie Flower', cursive;
         -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
            }
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.8;
}
.fa-linkedin {
    background: #55ACEE;
    color: white;
}
.fa-github {
    background: #55ACEE;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

#summary{
 background-image: url(https://wallpaperscraft.com/image/abstraction_modulations_gradients_color_47135_3840x2160.jpg);
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  font-family: 'Indie Flower', cursive;
  width: 50%;
  height: 25%;
padding: 60px
}

.section {
  padding:10px;}

input[type=text], select, textarea {
    width:50%; 
    padding: 5px; 
    border: 3px solid #ccc; 
    border-radius: 20px; 
 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #ADD8E6;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #A9A9A9;
    padding: 10px;
    width:30%;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
  margin:40px auto;
  width:1200px;
}
.half {
  width:49%;
  display:inline-block;
  vertical-align:middle;
}
.padding {
  20px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

